* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.clock {
    background: #fff url(../images/clock.png) no-repeat center;
    background-size: 88%;
    padding-bottom: 31%;
    position: relative;
    width: 30%;
}

.clock-minutes,
.clock-hours,
.clock-seconds {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.hours,
.minutes,
.seconds {
    background: #000;
    position: absolute;
}

.hours {
    height: 20%;
    left: 48.75%;
    top: 30%;
    width: 2.5%;
}

.minutes {
    height: 40%;
    left: 49%;
    top: 10%;
    width: 2%;
}

.seconds {
    height: 45%;
    left: 49.5%;
    top: 14%;
    width: 1%;
    z-index: 8;
}

@keyframes clock-animaion {
    100% {
        transform: rotate(360deg);
    }
}

.clock-seconds {
    animation-name: clock-animaion;
    animation-duration: 60s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.clock-minutes {
    animation-name: clock-animaion;
    animation-duration: 3600s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.clock-hours {
    animation-name: clock-animaion;
    animation-duration: 43200s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}